@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .spin {
        animation: spin 1s linear infinite;
    }
}
@layer components {
    .max_line_1 {
        max-width: 100%;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        /* Dòng trên ko áp dụng thì nó sẽ áp dụng dòng trên nữa */
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .max_line_2 {
        max-width: 100%;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    /* Box  start from top-right */
    .box-open {
        transform-origin: calc(100% - 32px) top;
        animation: boxOpen ease-in 0.2s;
        will-change: opacity, transform;
        z-index: 3;
    }
    @keyframes boxOpen {
        from {
            opacity: 0;
            transform: scale(0);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@layer utilities {
    .roboto-thin {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-style: italic;
    }
}
